@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="text-center">
    <h1 class="display-4">SISTEMA INFORMÁTICO DE ADMINISTRACIÓN DE PERSONAL</h1>
    <img src="~/img/logodircocor.png" width="450" height="450" style="text-align:center"/>
    
</div>
