@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="text-center">
    <h1 class="display-4">SISTEMA INFORMÁTICO DE ADMINISTRACIÓN DE PERSONAL</h1>
    <img src="~/img/logodircocor.png" class="img-fluid img-thumbnail" style="width:60%" alt="Responsive image"/>
    
</div>
